<h1>Home Page</h1>

<h3>Featured Books</h3>
<table>
  <tbody>
    <tr>
      <% @featured.each do |book| %>
        <td>
          <% if book.book_cover.attached? %>
            <%= image_tag book.book_cover.variant(:thumb) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<br>

<%= link_to 'Available Books', books_path %>